<html>
  <div style="text-align:center">
    <font size="16">Used car resale analysis</font>
  </div>
<p/>
  <font size="5">For example, input Brand: "Subaru", Model: "Forester", Zipcode: "07302", and then click "Query" button, to find out price depreciation as a function of mileage.</font>
  <font size="5">For now, zipcode in NY, NJ, and CA are supported. More will be added. Displayed data are within 50 miles of the query zipcode.</font>
  <font size="5">Click <a href="https://github.com/botaojia/cars">https://github.com/botaojia/cars</a> to view source code and <a href="https://github.com/botaojia/cars/blob/master/flowChart.png">flow chart</a>.</font>
  <font size="5">Click <a href="https://github.com/botaojia/cars/blob/master/json/brandModel.json">here</a> to see the full list of supported brand and models.</font>
<p/>
  <font size="5">Displayed data are collected by crawling <a href="http://www.carsdirect.com">http://www.carsdirect.com</a> every two weeks. All data points represent currently on market used cars.</font>


  <form action="" method="post">
  Brand: <input type="text" name="brand"><br/>
  Model: <input type="text" name="model"><br/>
  Zipcode: <input type="text" name="zipcode"><br/>
  <input type="submit" value="Query">
  </form>

{% if error %}
<p><font size="7">Error:</font><font size="6"> {{ error }}</font>
{% endif %}

    <body>
        <figure>
        <embed type="image/svg+xml" src="/price_vs_miles_svg/" style="float:left" />
        </figure>
        <figure>
        <embed type="image/svg+xml" src="/price_vs_year_svg/" />
        </figure>
    </body>    
    <body>
        <figure>
        <embed type="image/svg+xml" src="/year_histogram_svg/" style="float:left" />
        </figure>
        <figure>
        <embed type="image/svg+xml" src="/exterior_pie_svg/" />
        </figure>
    </body>
    <body>
        <figure>
          <center>
        <embed type="image/svg+xml" src="/top_10_brand/">
          </center>
        </figure>
    </body>
</html>
